<nav class="nav-bar">
    <!-- <p-drawer [(visible)]="visible" class=" " header="Drawer">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
    </p>
</p-drawer> -->
<!-- <p-button (click)="visible = true"/> -->
  <div class="user-info">
    <span class="username">Olá, {{ nomeUsuario }}</span>
  </div>
  <button pButton type="button" label="Logout" icon="pi pi-sign-out" class="p-button-sm logout-btn"></button>
</nav>
